body {
  /* background-color: #282c34; */
}

.user {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hint {
  text-align: center;
  font-size: 12px;
}

.user input {
  width: 25%;
  text-align: center;
}

.reserved {
  text-align: center;
}

.reserved-item {
  display: flex;
  justify-content: space-around;
}

h4 {
  line-height: 40px;
}

.message {
  text-align: center;
  color: brown;
}